<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TaTTravelWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JingDianServ</display-name>
    <servlet-name>JingDianServ</servlet-name>
    <servlet-class>cqcet.web.JingDianServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JingDianServ</servlet-name>
    <url-pattern>/JingDianServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServ</display-name>
    <servlet-name>LoginServ</servlet-name>
    <servlet-class>cqcet.web.LoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServ</servlet-name>
    <url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServ</display-name>
    <servlet-name>RegisterServ</servlet-name>
    <servlet-class>cqcet.web.RegisterServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServ</servlet-name>
    <url-pattern>/RegisterServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DingDanServ</display-name>
    <servlet-name>DingDanServ</servlet-name>
    <servlet-class>cqcet.web.DingDanServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DingDanServ</servlet-name>
    <url-pattern>/DingDanServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDingdanServ</display-name>
    <servlet-name>AddDingdanServ</servlet-name>
    <servlet-class>cqcet.web.AddDingdanServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDingdanServ</servlet-name>
    <url-pattern>/AddDingdanServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelServ</display-name>
    <servlet-name>HotelServ</servlet-name>
    <servlet-class>cqcet.web.HotelServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelServ</servlet-name>
    <url-pattern>/HotelServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaneServ</display-name>
    <servlet-name>PlaneServ</servlet-name>
    <servlet-class>cqcet.web.PlaneServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaneServ</servlet-name>
    <url-pattern>/PlaneServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JingDianstr</display-name>
    <servlet-name>JingDianstr</servlet-name>
    <servlet-class>cqcet.web.JingDianstr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JingDianstr</servlet-name>
    <url-pattern>/JingDianstr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaneStr</display-name>
    <servlet-name>PlaneStr</servlet-name>
    <servlet-class>cqcet.web.PlaneStr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaneStr</servlet-name>
    <url-pattern>/PlaneStr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelStr</display-name>
    <servlet-name>HotelStr</servlet-name>
    <servlet-class>cqcet.web.HotelStr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelStr</servlet-name>
    <url-pattern>/HotelStr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JinDianStrs</display-name>
    <servlet-name>JinDianStrs</servlet-name>
    <servlet-class>cqcet.web.JinDianStrs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JinDianStrs</servlet-name>
    <url-pattern>/JinDianStrs</url-pattern>
  </servlet-mapping>
</web-app>